@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    background-color: hsl(0, 0%, 8%);
    font-family: "inter" sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding-inline: 240px;
    margin: 9rem auto 0;
    
}

.profile{
    background-color: hsl(0, 0%, 12%);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.profile-header .image img{
    width: 140px;
    border-radius: 50%;
}

.profile-header .title h1{
    font-size: 22px;
    font-style: normal;
    color: white;
    margin-top: 15px;
}

.profile-header .title h2{
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    margin-top: 8px;
    margin-bottom: 20px;
}

.profile-header p{
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.profile .social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;

}

.profile .social-links li{
    width: 100%;
}

.profile .social-links li a{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.profile .social-links li a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
    transition: 0.3s;
}